html {
  height: 95%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 25px auto;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  width: 90%;
}

/*home*/

.home p, ul { font-size: 1.4em; line-height: 1.5em; color: #333; }


.home a { text-decoration: none;font-size: .7em;line-height: 1em; color: #999; }
.home a:hover { text-decoration: underline;font-size: .7em }

.home big { font-size: 1.5em; line-height: 1.5em; color: #333;}


.home h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.home h1 { font-size: 3em;  }
.home h2 { font-size: 2.7em; }
.home h3 { font-size: 2.3em; }
.home h4 { font-size: 1.9em; }

.home nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
.home nav ul li, footer ul li { display: inline; margin-right: 20px; }


/*bar*/
.bar a { text-decoration: none;font-size: 1.3em;line-height: 1.5em; padding: 2px;color: #999; }
.bar a:hover { text-decoration: underline;font-size: 1.303em }


.bar nav ul{ font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 5px; list-style: none; font-weight: bold; }
.bar nav ul li { display: inline; margin-right: 35px; }




/*

a { text-decoration: none;font-size: 1.3em; color: #999; }
a:hover { text-decoration: underline;font-size: 1.3em }

p, ul { font-size: 1.2em; line-height: 1.2em; color: #333; }

big { font-size: 1.5em; line-height: 1.5em; color: #333;}


h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

*/




img.profile{
 width: auto;
 height: auto;
 max-width: 100%;
}




.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #061D25;
  text-align: center;

}

.footer a {
  color: #70726F;
  font-size:150%;
  padding: 10px;
  border-right: 1px solid #70726F;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer a:first-child {
  border-left: 1px solid #70726F;
}

.footer a:hover {
  color: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
